

.main-window {
  background-color: rgba(214, 26, 67, 0.25);
  width: 500px;
  height: 400px;
  margin: 200px auto 0;
  border: 3px solid rgb(212, 93, 33);
  border-radius: 20px;
  transition: all 0.5s linear;
  position: relative;
}
.main-window .menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 100%;
} 


.main-window .menu .menu__title { 
  text-align: center;
  color: #1254b8;
  font-weight: bold; /* Rend le texte en gras */
  font-size: 50px; /* Augmente la taille de la police, ajustez selon vos besoins */
  margin-top: -100px; /* Déplace le titre vers le haut, ajustez selon vos besoins */
  font-family: 'Arial', sans-serif; /* Change le style de la police */
  font-style: italic; /* Ajoute un style italique */
}


.main-window .menu button {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  padding: 15px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.1s linear;
  background-color: #3773e0;
  border: 0;
}
.main-window .menu button:hover {
  background-color: #45a049;
}
.main-window .menu button:active {
  background-color: #45a049;
}




.menu__themes, .menu__skins, .menu__commencer{

    padding: 12px 24px;
      backgroundColor: white;
      color: black;
      borderRadius: 7px;
      transition: transform 250ms cubic-bezier(.2,.8,.4,1);
    }
  
    .menu__themes:hover, .menu__skins:hover ,.menu__commencer:hover {
    transform: scale(1.10);
    }
  
    .menu__themes:active, .menu__skins:active, .menu__commencer:active{
    transform: scale(0.9);
  }
  


.themes {
  width: 100%;
  height: 100%;
}
.themes .themes__inner {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: center;
  padding-top: 50px;
  
}
.themes .themes__inner .themes__item {
  width: 50%;
}
.themes .themes__inner .themes__item img {
  display: block;
  width: 100%;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
.themes .themes__inner .themes__item .themes__item-button {
  box-sizing: content-box;
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 30px;
  height: 30px;
  margin-top: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #ffffff;
  cursor: pointer;
}
.themes .themes__inner .themes__item [activated=true] {
  background-image: url(../assets/themes/white-circle.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: auto;
}
.themes .themes__back {
  display: block;
  margin: 30px auto 0;
  width: 100%;
  max-width: 300px;
  background-color: #dd1b2c;
  border: 0;
  height: 40px;
  font-size: 36px;
  cursor: pointer;
  transition: all 0.1s linear;
  font-family: 'Arial', sans-serif; /* Change le style de la police */
  font-style: italic; /* Ajoute un style italique */

}
.themes .themes__back:hover {
  background-color: #0a7c00;
}
.themes .themes__back:active {
  background-color: #0a7c00;
}

.skins {
  width: 100%;
  height: 100%;
}
.skins .skins__inner {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  margin-top: 40px;
}
.skins .skins__inner .skins__button {
  box-sizing: content-box;
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 30px;
  height: 30px;
  margin-top: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #f8f8f8;
  cursor: pointer;
}
.skins .skins__inner [activated=true] {
  background-image: url(../assets/themes/white-circle.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: auto;
}
.skins .skins__back {
  display: block;
  margin: 60px auto 0;
  width: 100%;
  max-width: 300px;
  background-color: #dd0000;
  border: 0;
  height: 40px;
  font-size: 36px;
  cursor: pointer;
  transition: all 0.1s linear;
  font-family: 'Arial', sans-serif; /* Change le style de la police */
  font-style: italic; /* Ajoute un style italique */

}
.skins .skins__back:hover {
  background-color: #0a7c00;
}
.skins .skins__back:active {
  background-color: #0a7c00;
}

/*# sourceMappingURL=style.css.map */
